<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../style/global-style.css" />
    <link
      rel="shortcut icon"
      href="./../src/favicon96-layout-pages.png"
      type="image/x-icon"
    />
    <title>Float</title>
    <style>
      body {
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
        padding: 1em;
        font: 0.9em/1.2 Arial, Helvetica, sans-serif;
      }

      .box {
        width: 150px;
        height: 100px;
        border-radius: 5px;
        background-color: rgb(207, 232, 220);
        padding: 1em;
      }

      .left,
      .left-special {
        float: left;
        margin-right: 1em;
      }

      .right {
        float: right;
        margin-left: 1em;
      }

      .special {
        background-color: rgb(79, 185, 227);
        padding: 10px;
        color: #fff;
      }

      .left-special {
        margin: 1em;
      }

      .cleared {
        clear: left;
      }

      .wrapper {
        background-color: rgb(79, 185, 227);
        padding: 10px;
        color: #fff;
      }

      .clearfix::after {
        content: "";
        display: block;
        clear: both;
      }

      .overflow {
        overflow: auto;
      }

      .flow-root {
        display: flow-root;
      }
    </style>
  </head>
  <body>
    <header>
      <h2>浮动的背景知识</h2>
      <p>
        最初，引入 <code>float</code> 属性是为了能让
        <code>Web</code>
        开发人员实现简单的布局，包括在一列文本中浮动的图像，文字环绕在它的左边或右边。你可能在报纸版面上看到过。
      </p>
      <p>
        但
        <code>Web</code>
        开发人员很快意识到，任何东西都可以浮动，而不仅仅是图像，所以浮动的使用范围扩大了。之前的
        <code>fancy paragraph example</code>
        的课程展示了如何使用浮动创建一个有趣的
        <code>drop-cap</code>（首字下沉）效果。
      </p>
      <p>
        浮动曾被用来实现整个网站页面的布局，它使信息列得以横向排列（默认的设定则是按照这些列在源代码中出现的顺序纵向排列）。目前出现了更新更好的页面布局技术，所以使用浮动来进行页面布局应被看作传统的布局方法。
      </p>
      <p>在这一章中，我们仅就浮动这一命令本身的性能展开讲解。</p>
    </header>
    <hr />
    <main>
      <section>
        <h1>Simple float example</h1>

        <div class="box">Float: normal state</div>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus
          aliquam dolor, eu lacinia lorem placerat vulputate. Duis felis orci,
          pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet
          nunc, at ultricies tellus laoreet sit amet.
        </p>

        <p>
          Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit
          amet orci vel, viverra egestas ligula. Curabitur vehicula tellus
          neque, ac ornare ex malesuada et. In vitae convallis lacus. Aliquam
          erat volutpat. Suspendisse ac imperdiet turpis. Aenean finibus
          sollicitudin eros pharetra congue. Duis ornare egestas augue ut
          luctus. Proin blandit quam nec lacus varius commodo et a urna. Ut id
          ornare felis, eget fermentum sapien.
        </p>

        <p>
          Nam vulputate diam nec tempor bibendum. Donec luctus augue eget
          malesuada ultrices. Phasellus turpis est, posuere sit amet dapibus ut,
          facilisis sed est. Nam id risus quis ante semper consectetur eget
          aliquam lorem. Vivamus tristique elit dolor, sed pretium metus
          suscipit vel. Mauris ultricies lectus sed lobortis finibus. Vivamus eu
          urna eget velit cursus viverra quis vestibulum sem. Aliquam tincidunt
          eget purus in interdum. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus.
        </p>
      </section>
      <hr />
      <section>
        <h1>Simple float example</h1>

        <div class="box left">Float: left</div>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus
          aliquam dolor, eu lacinia lorem placerat vulputate. Duis felis orci,
          pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet
          nunc, at ultricies tellus laoreet sit amet.
        </p>

        <p>
          Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit
          amet orci vel, viverra egestas ligula. Curabitur vehicula tellus
          neque, ac ornare ex malesuada et. In vitae convallis lacus. Aliquam
          erat volutpat. Suspendisse ac imperdiet turpis. Aenean finibus
          sollicitudin eros pharetra congue. Duis ornare egestas augue ut
          luctus. Proin blandit quam nec lacus varius commodo et a urna. Ut id
          ornare felis, eget fermentum sapien.
        </p>

        <p>
          Nam vulputate diam nec tempor bibendum. Donec luctus augue eget
          malesuada ultrices. Phasellus turpis est, posuere sit amet dapibus ut,
          facilisis sed est. Nam id risus quis ante semper consectetur eget
          aliquam lorem. Vivamus tristique elit dolor, sed pretium metus
          suscipit vel. Mauris ultricies lectus sed lobortis finibus. Vivamus eu
          urna eget velit cursus viverra quis vestibulum sem. Aliquam tincidunt
          eget purus in interdum. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus.
        </p>
      </section>
      <section>
        <h1>Simple float example</h1>

        <div class="box right">Float: right</div>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus
          aliquam dolor, eu lacinia lorem placerat vulputate. Duis felis orci,
          pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet
          nunc, at ultricies tellus laoreet sit amet.
        </p>

        <p>
          Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit
          amet orci vel, viverra egestas ligula. Curabitur vehicula tellus
          neque, ac ornare ex malesuada et. In vitae convallis lacus. Aliquam
          erat volutpat. Suspendisse ac imperdiet turpis. Aenean finibus
          sollicitudin eros pharetra congue. Duis ornare egestas augue ut
          luctus. Proin blandit quam nec lacus varius commodo et a urna. Ut id
          ornare felis, eget fermentum sapien.
        </p>

        <p>
          Nam vulputate diam nec tempor bibendum. Donec luctus augue eget
          malesuada ultrices. Phasellus turpis est, posuere sit amet dapibus ut,
          facilisis sed est. Nam id risus quis ante semper consectetur eget
          aliquam lorem. Vivamus tristique elit dolor, sed pretium metus
          suscipit vel. Mauris ultricies lectus sed lobortis finibus. Vivamus eu
          urna eget velit cursus viverra quis vestibulum sem. Aliquam tincidunt
          eget purus in interdum. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus.
        </p>
      </section>
      <hr />
      <section>
        <blockquote>
          <p>
            我们可以在浮动元素上应用
            <code>margin</code>，将文字推开，但不能在文字上应用
            <code>margin</code>
            将浮动元素推走。这是因为浮动的元素脱离了正常文档流，紧随其后的元素排布在它的“后方”。你可以将示例代码进行更改，来观察到这个现象。
          </p>
        </blockquote>
        <h1>Simple float example</h1>

        <div class="box left-special">Float: left</div>

        <p class="special">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus
          aliquam dolor, eu lacinia lorem placerat vulputate. Duis felis orci,
          pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet
          nunc, at ultricies tellus laoreet sit amet.
        </p>

        <p>
          Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit
          amet orci vel, viverra egestas ligula. Curabitur vehicula tellus
          neque, ac ornare ex malesuada et. In vitae convallis lacus. Aliquam
          erat volutpat. Suspendisse ac imperdiet turpis. Aenean finibus
          sollicitudin eros pharetra congue. Duis ornare egestas augue ut
          luctus. Proin blandit quam nec lacus varius commodo et a urna. Ut id
          ornare felis, eget fermentum sapien.
        </p>

        <p>
          Nam vulputate diam nec tempor bibendum. Donec luctus augue eget
          malesuada ultrices. Phasellus turpis est, posuere sit amet dapibus ut,
          facilisis sed est. Nam id risus quis ante semper consectetur eget
          aliquam lorem. Vivamus tristique elit dolor, sed pretium metus
          suscipit vel. Mauris ultricies lectus sed lobortis finibus. Vivamus eu
          urna eget velit cursus viverra quis vestibulum sem. Aliquam tincidunt
          eget purus in interdum. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus.
        </p>
      </section>
      <section>
        <blockquote>
          <p>
            我们看到，一个浮动元素会被移出正常文档流，且其他元素会显示在它的下方。如果我们不想让剩余元素也受到浮动元素的影响，我们需要
            停止 它；这是通过添加 <code>clear</code> 属性实现的。
          </p>
          <p>
            应该看到，第二个段落已经停止了浮动，不会再跟随浮动元素排布了。<code
              >clear</code
            >
            属性接受下列值：
          </p>
          <p><code>left</code>：停止任何活动的左浮动</p>
          <p><code>right</code>：停止任何活动的右浮动</p>
          <p><code>both</code>：停止任何活动的左右浮动</p>
        </blockquote>
        <h1>Simple float example</h1>

        <div class="box left-special">Float: left</div>

        <p class="special">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus
          aliquam dolor, eu lacinia lorem placerat vulputate. Duis felis orci,
          pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet
          nunc, at ultricies tellus laoreet sit amet.
        </p>

        <p class="cleared">
          Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit
          amet orci vel, viverra egestas ligula. Curabitur vehicula tellus
          neque, ac ornare ex malesuada et. In vitae convallis lacus. Aliquam
          erat volutpat. Suspendisse ac imperdiet turpis. Aenean finibus
          sollicitudin eros pharetra congue. Duis ornare egestas augue ut
          luctus. Proin blandit quam nec lacus varius commodo et a urna. Ut id
          ornare felis, eget fermentum sapien.
        </p>

        <p>
          Nam vulputate diam nec tempor bibendum. Donec luctus augue eget
          malesuada ultrices. Phasellus turpis est, posuere sit amet dapibus ut,
          facilisis sed est. Nam id risus quis ante semper consectetur eget
          aliquam lorem. Vivamus tristique elit dolor, sed pretium metus
          suscipit vel. Mauris ultricies lectus sed lobortis finibus. Vivamus eu
          urna eget velit cursus viverra quis vestibulum sem. Aliquam tincidunt
          eget purus in interdum. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus.
        </p>
      </section>
      <hr />
      <section>
        <blockquote>
          <p>
            我们来看个例子，如果存在一个盒子 同时
            包含了很高的浮动元素和一个很短的段落，会发生什么。
          </p>
          <p>
            改变你的文档结构，使得第一个段落与浮动的盒子共同处于类名为
            <code>wrapper</code> 的<code>&lt;div&gt;</code>
            元素之下。
          </p>
          <p>
            你会看到，就像示例代码一样，如果将背景色属性置于段落上，那么这个背景色将处于浮动元素之下。
          </p>
        </blockquote>
        <h1>Simple float example</h1>
        <div class="wrapper">
          <div class="box left-special">Float: left</div>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
            luctus aliquam dolor, eu lacinia lorem placerat vulputate.
          </p>
        </div>

        <p>
          Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit
          amet orci vel, viverra egestas ligula. Curabitur vehicula tellus
          neque, ac ornare ex malesuada et. In vitae convallis lacus. Aliquam
          erat volutpat. Suspendisse ac imperdiet turpis. Aenean finibus
          sollicitudin eros pharetra congue. Duis ornare egestas augue ut
          luctus. Proin blandit quam nec lacus varius commodo et a urna. Ut id
          ornare felis, eget fermentum sapien.
        </p>

        <p>
          Nam vulputate diam nec tempor bibendum. Donec luctus augue eget
          malesuada ultrices. Phasellus turpis est, posuere sit amet dapibus ut,
          facilisis sed est. Nam id risus quis ante semper consectetur eget
          aliquam lorem. Vivamus tristique elit dolor, sed pretium metus
          suscipit vel. Mauris ultricies lectus sed lobortis finibus. Vivamus eu
          urna eget velit cursus viverra quis vestibulum sem. Aliquam tincidunt
          eget purus in interdum. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus.
        </p>
      </section>
      <hr />
      <section>
        <blockquote>
          <p>
            再一次强调，这是因为浮动元素处于正常文档流之外，停止紧随其后元素的浮动并不像之前那样奏效。如果你想让盒子联合包住浮动的项目以及第一段文字，同时让紧随其后的内容从盒子中清除浮动，这就是一个问题。
          </p>
          <p>
            有三种方法可以处理这个问题，其中的两种在所有浏览器中均可以奏效
            （虽然看上去有点“小技巧”），剩下的一种是可以处理问题的较新的解决方案。
          </p>
        </blockquote>
        <h2>clearfix 小技巧</h2>
        <h1>Simple float example</h1>
        <div class="wrapper clearfix">
          <div class="box left-special">Float: left</div>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
            luctus aliquam dolor, eu lacinia lorem placerat vulputate.
          </p>
        </div>

        <p>
          Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit
          amet orci vel, viverra egestas ligula. Curabitur vehicula tellus
          neque, ac ornare ex malesuada et. In vitae convallis lacus. Aliquam
          erat volutpat. Suspendisse ac imperdiet turpis. Aenean finibus
          sollicitudin eros pharetra congue. Duis ornare egestas augue ut
          luctus. Proin blandit quam nec lacus varius commodo et a urna. Ut id
          ornare felis, eget fermentum sapien.
        </p>

        <p>
          Nam vulputate diam nec tempor bibendum. Donec luctus augue eget
          malesuada ultrices. Phasellus turpis est, posuere sit amet dapibus ut,
          facilisis sed est. Nam id risus quis ante semper consectetur eget
          aliquam lorem. Vivamus tristique elit dolor, sed pretium metus
          suscipit vel. Mauris ultricies lectus sed lobortis finibus. Vivamus eu
          urna eget velit cursus viverra quis vestibulum sem. Aliquam tincidunt
          eget purus in interdum. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus.
        </p>
        <h2>使用 overflow</h2>
        <blockquote>
          <p>
            这个例子之所以能够生效，是因为创建了所谓的
            块格式化上下文（<code>BFC</code>）。可以把它看作页面内部包含所需元素的一小块布局区域。如此设置可以让浮动元素包含在
            <code>BFC</code>
            及其背景之内。大部分情况下这种小技巧都可以奏效，但是可能会出现莫名其妙的滚动条或裁剪阴影，这是使用
            <code>overflow</code> 带来的一些副作用。
          </p>
        </blockquote>
        <h1>Simple float example</h1>
        <div class="wrapper overflow">
          <div class="box left-special">Float: left</div>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
            luctus aliquam dolor, eu lacinia lorem placerat vulputate.
          </p>
        </div>

        <p>
          Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit
          amet orci vel, viverra egestas ligula. Curabitur vehicula tellus
          neque, ac ornare ex malesuada et. In vitae convallis lacus. Aliquam
          erat volutpat. Suspendisse ac imperdiet turpis. Aenean finibus
          sollicitudin eros pharetra congue. Duis ornare egestas augue ut
          luctus. Proin blandit quam nec lacus varius commodo et a urna. Ut id
          ornare felis, eget fermentum sapien.
        </p>

        <p>
          Nam vulputate diam nec tempor bibendum. Donec luctus augue eget
          malesuada ultrices. Phasellus turpis est, posuere sit amet dapibus ut,
          facilisis sed est. Nam id risus quis ante semper consectetur eget
          aliquam lorem. Vivamus tristique elit dolor, sed pretium metus
          suscipit vel. Mauris ultricies lectus sed lobortis finibus. Vivamus eu
          urna eget velit cursus viverra quis vestibulum sem. Aliquam tincidunt
          eget purus in interdum. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus.
        </p>
        <h2>display: flow-root</h2>
        <blockquote>
          <p>
            一个较为现代的方案是使用 <code>display</code> 属性的
            <code>flow-root</code>
            值。它可以无需小技巧来创建块格式化上下文（<code>BFC</code>），在使用上没有副作用。
          </p>
        </blockquote>
        <h1>Simple float example</h1>
        <div class="wrapper flow-root">
          <div class="box left-special">Float: left</div>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
            luctus aliquam dolor, eu lacinia lorem placerat vulputate.
          </p>
        </div>

        <p>
          Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit
          amet orci vel, viverra egestas ligula. Curabitur vehicula tellus
          neque, ac ornare ex malesuada et. In vitae convallis lacus. Aliquam
          erat volutpat. Suspendisse ac imperdiet turpis. Aenean finibus
          sollicitudin eros pharetra congue. Duis ornare egestas augue ut
          luctus. Proin blandit quam nec lacus varius commodo et a urna. Ut id
          ornare felis, eget fermentum sapien.
        </p>

        <p>
          Nam vulputate diam nec tempor bibendum. Donec luctus augue eget
          malesuada ultrices. Phasellus turpis est, posuere sit amet dapibus ut,
          facilisis sed est. Nam id risus quis ante semper consectetur eget
          aliquam lorem. Vivamus tristique elit dolor, sed pretium metus
          suscipit vel. Mauris ultricies lectus sed lobortis finibus. Vivamus eu
          urna eget velit cursus viverra quis vestibulum sem. Aliquam tincidunt
          eget purus in interdum. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus.
        </p>
      </section>
    </main>
  </body>
</html>
