<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../style/global-style.css" />
    <title>Grid</title>
    <style>
      body {
        width: 900px;
        max-width: 90%;
        margin: 0 auto;
        padding: 1em;
        font: 0.9em/1.2 Arial, Helvetica, sans-serif;
        background-color: #f0f0f0;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>网格布局</h1>
      <p>
        网格是由一系列水平及垂直的线构成的一种布局模式。根据网格，我们能够将设计元素进行排列，帮助我们设计一系列具有固定位置以及宽度的元素的页面，使我们的网站页面更加统一。
      </p>
      <p>
        一个网格通常具有许多的列（<code>column</code>）与行（<code>row</code>），以及行与行、列与列之间的间隙，这个间隙一般被称为沟槽（<code>gutter</code>）。
      </p>
      <img src="./../src/grid.png" alt="网格布局" />
    </header>
    <main>
      <article>
        <section>
          <h2>额外的资料</h2>
          <p>
            <a
              href="https://developer.mozilla.org/zh-CN/docs/Web/CSS/CSS_grid_layout#guides"
              target="_blank"
              rel="noopener noreferrer"
              >CSS 网格指南</a
            >、<a
              href="https://firefox-source-docs.mozilla.org/devtools-user/page_inspector/how_to/examine_grid_layouts/index.html"
            >
              CSS 网格检查器</a
            >、<a
              href="https://labs.jensimmons.com/"
              target="_blank"
              rel="noopener noreferrer"
              >The Experimental Layout Lab </a
            >、<a
              href="https://gridbyexample.com/"
              target="_blank"
              rel="noopener noreferrer"
              >Grid by Example</a
            >、<a
              href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
              target="_blank"
              rel="noopener noreferrer"
              >CSS Flexbox Layout Guide</a
            >、<a
              href="https://css-tricks.com/snippets/css/complete-guide-grid/"
              target="_blank"
              rel="noopener noreferrer"
              >CSS Grid Layout Guide</a
            >、<a
              href="https://css-tricks.com/css-grid-and-custom-shapes-part-1/"
              target="_blank"
              rel="noopener noreferrer"
              >CSS Grid and Custom Shapes</a
            >、<a
              href="https://css-tricks.com/animating-css-grid-how-to-examples/"
              target="_blank"
              rel="noopener noreferrer"
              >Animating CSS Grid</a
            >、<a
              href="https://css-tricks.com/snippets/css/drop-caps/"
              target="_blank"
              rel="noopener noreferrer"
              >Drop Caps</a
            >
          </p>
        </section>
      </article>
    </main>
  </body>
</html>
